
body{
  overflow-y: scroll;
}
@keyframes fadeIn {
  to {
      opacity: 1;
      transform: translateY(0px);
  }
}
/* StudentForm.css */
.student-form-container {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeIn 2s forwards;
    width: 75vw;
    height: auto;
    margin-top: 800px ;
    margin-bottom: 150px;
    padding: 20px;
    background-color: #ebebeb;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow-y: scroll; */
  }
  
  .form-content {
    /* height: auto; */
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .nav-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .prev-button {
    background-color: #6c757d;
    color: white;
  }
  
  .prev-button:active{
    background-color: #5b6369;
    transform: translateY(3px);
  }

  .next-button {
    margin-left: auto;
    background-color: #007bff;
    color: white;
  }
  .next-button:active{
    background-color: #0068d8;
    transform: translateY(3px);
    
  }
  
  .submit-button {
    background-color: #28a745;
    color: white;
  }

  .submit-button:hover{
    opacity: 0.9;
  }
  
  .submit-button:active{
    background-color: #24963f;
    transform: translateY(3px);
  }
  .nav-button:hover {
    opacity: 0.9;
  }